<html>
  <head>
    <title>Error</title>
    <link rel="stylesheet" type="text/css" href="/styles/styleFormPage.css"> 
  </head>
  <body>
    <h1>Error</h1>
    <% if(error) { %>
      <p> <%= error %> </p>
    <% } %>
    <a href="/">
        <span>Home</span>
      </a>
  </body>
</html>



